.PhotoSection {
  display: block;
  margin-top: 40px;
  margin-right: -100px;
  margin-left: -100px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  will-change: transform;
}
.PhotoSection2 {
  display: block;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: -100px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  will-change: transform;
}
.PhotoContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1vw;
}
