.SectionFast {
  display: block;
  margin-top: 40px;
  margin-right: -100px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  animation-name: scrollfast;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 30s;
  will-change: auto;
}
.SectionSlow {
  display: block;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: -100px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  animation-name: scrollslow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 30s;
  will-change: auto;
}
.PhotoContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1vw;
}

@keyframes scrollfast {
  from {
    margin-left: -100px;
  }
  to {
    margin-left: -1000px;
  }
}
@keyframes scrollslow {
  from {
    margin-left: -100px;
  }
  to {
    margin-left: -800px;
  }
}
