.MobileNav {
  position: fixed;
  height: 100vh;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  padding-left: 5%;
  padding-right: 5%;
  bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: 0.8em;
  line-height: 80%;
  z-index: 1;
}

.Close {
  position: absolute;
  cursor: pointer;
  left: auto;
  top: 3vh;
  right: 3vh;
  bottom: auto;
}
