html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Karla', sans-serif;
}

body {
  margin: 0 10vmin;
}
::selection {
  color: rgba(255, 255, 255, 0.99);
  background: rgba(0, 0, 0, 0.99);
}
::-moz-selection {
  color: rgba(255, 255, 255, 0.99);
  background: rgba(0, 0, 0, 0.99);
}

.maxwidth {
  max-width: 940px;
  margin: 0 auto;
}
/* ----- intro ----- */
.logo {
  font-size: 1.6em;
  font-weight: 700;
  line-height: 80%;
  color: #111111;
  margin: 12vmin 0 18vmin 0;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  line-height: 120%;
  color: #111111;
  margin-bottom: 18vmin;
}
.photo {
  background-image: url(./assets/images/tim-kelly-b&w.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vmin;
  width: 100%;
  box-sizing: border-box;
  margin: 16vmin auto;
}

p.large {
  font-family: 'Bold';
  font-size: 3.1em;
  color: #111111;
  line-height: 140%;
  margin-bottom: 6vmin;
  overflow: hidden;
}

p {
  font-size: 1.6em;
  color: #111111;
  line-height: 160%;
  margin-bottom: 4vmin;
  overflow: hidden;
}

a.resume,
a.resume:after,
a.resume:visited {
  color: #111111;
  cursor: pointer;
}

/* ----- contact ----- */

.contact-list {
  margin: 0vmin 0 20vmin 0;
}
.contact {
  font-size: 1.5em;
  color: #111111;
  line-height: 180%;
}

a,
a:after,
a:visited {
  color: #111111;
  cursor: pointer;
}

/* ----- animation ----- */
.animate {
  -webkit-animation: animate 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  -moz-animation: animate 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  animation: animate 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.delaytitle {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.delaycontent {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

@media screen and (max-width: 767px) {
  body {
    margin: 0;
  }
  .maxwidth {
    margin: 0 6%;
  }
  h1 {
    font-size: 3.5em;
  }
  p.large {
    font-size: 2.4em;
    margin-bottom: 12vmin;
  }
  p {
    font-size: 1.4em;
    margin-bottom: 8vmin;
  }
  .photo {
    background-image: url(./assets/images/tim-kelly-b&w-mobile.png);
    background-position: center center;
    height: 140vmin;
  }
}
